*{
    margin: 0;
    padding: 0;
}
#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
#left{
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 900px;
    margin-top: 20px;
    justify-content: space-between;
}
.left-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    width: 50px;
}
.item {
    width: 25px;
    margin-top: 50px;
}

.setting {
    margin-top: 36px;
}

#center{
    width: 910px;
    border: 1px solid rgb(204, 204, 204);

}
#right{
    width: 450px;
}
#main{
    padding: 20px;
}
.header-title-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.header-left{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.header-right{
    display: flex;
    width: 80px;
    height: 40px;
    border: 2px solid red;
    border-radius: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.header-right .icon{
    font-size: 40px;
    color: red;
    font-family: unset;
}
.header-right p{
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-title-bottom{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.item-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.internal{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 8px solid red;
    border-radius: 30px;
    background-color: red;
    color: white;
    gap: 5px;
}
.user{
    width: 15px;
    background-color: white;
    border-radius: 10px;
} 
.banner{
    padding: 15px 20px;
}

.banner-item{
    width: 830px;
    height: 460px;
    background-image: url(/BaiTapTH_Tuan_04_Web/img/img_big.png);
    display: flex;
    
    justify-content: space-between;
}
.name{
    display: flex;
    justify-content: space-around;
    width: 27%;
    height: 40px;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    align-items: center;
}
.name p{
    font-size: 35px;
    color: rgb(3, 225, 3);
    
}
.name h2{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.mic-color{
    margin: 10px 20px;
}
.metting{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
}
.video-small{
    width: 260px;
    height: 160px;
    background-image: url(/BaiTapTH_Tuan_04_Web/img/img2.png);
    display: flex;
    justify-content: flex-start;
}
.metting-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item-left{
    display: flex;
    justify-content: space-around;
    height: 25px;
    margin: 5px 15px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.5;
    align-items: center;
}
.item-left p{
    font-size: 25px;
    color: rgb(3, 225, 3);
}
.item-left h2{
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.item-right{
    margin: 8px 15px;
   
}
.item-right img{
    width: 20px;
}
.video-small-1{
    width: 260px;
    height: 160px;
    background-image: url(/BaiTapTH_Tuan_04_Web/img/img1.png);
    display: flex;
    justify-content: flex-start;
}
.video-small-2{
    width: 260px;
    height: 160px;
    background-image: url(/BaiTapTH_Tuan_04_Web/img/img.png);
    display: flex;
    justify-content: flex-start;
}

.menu-button{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.menu-button .end{
    font-size: 18px;
    color: white;
    background-color: red;
    padding: 1%;
    border: 3px solid red;
    border-radius: 3px;
}